Repository ONLYOFFICE/onlyoffice-discourse: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-lint, js-lint, hbs-lint, css-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruby-lint:
      glob: "*.rb"
      run: bundle exec rubocop {staged_files}
    
    js-lint:
      glob: "*.js"
      run: pnpm eslint {staged_files}
    
    hbs-lint:
      glob: "*.hbs"
      run: pnpm ember-template-lint {staged_files}
    
    css-lint:
      glob: "*.scss"
      run: pnpm stylelint {staged_files}
    
    prettier:
      glob: "*.{js,hbs,scss}"
      run: pnpm prettier --check {staged_files}

pre-push:
  commands:
    lint-all:
      run: pnpm lint

chore: remove unused component
  assets/javascripts/discourse/components/onlyoffice-create-form.js
  assets/javascripts/discourse/components/onlyoffice-editor-frame.js
  assets/javascripts/discourse/controllers/onlyoffice-create-modal.js
  assets/javascripts/discourse/templates/components/onlyoffice-api-link.hbs
  assets/javascripts/discourse/templates/components/onlyoffice-create-form.hbs
  assets/javascripts/discourse/templates/components/onlyoffice-editor-frame.hbs
  assets/javascripts/discourse/templates/modal/onlyoffice-create-modal.hbs
  assets/javascripts/discourse/templates/onlyoffice/editor.hbs
  db/.gitkeep
  svg-icons/onlyoffice-sprite.svg
Due: js-lint, hbs-lint, prettier

feat: update gemfile
  Gemfile
  Gemfile.lock
Due: none

feat: plugin structure
  app/controllers/onlyoffice_discourse/onlyoffice_controller.rb
  app/models/onlyoffice_discourse/onlyoffice_permission.rb
  lib/onlyoffice_discourse/onlyoffice_controller_extensions.rb
  lib/onlyoffice_discourse/onlyoffice_conversion_service.rb
  lib/onlyoffice_discourse/onlyoffice_jwt.rb
  plugin.rb
Due: ruby-lint

fix: remove unused files
  assets/javascripts/discourse/lib/discourse-markdown/onlyoffice-doc-block.js
Due: js-lint, prettier

fix: lint error
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-create-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.js
  assets/javascripts/discourse/initializers/onlyoffice-attachment-handler.js
  assets/javascripts/discourse/routes/onlyoffice-editor.js
  plugin.rb
Due: ruby-lint, js-lint, prettier

chore: fix lint action
  .github/workflows/lint.yml
Due: none

feat: update icons
  public/images/file_cell.svg
  public/images/file_pdf.svg
  public/images/file_slide.svg
  public/images/file_word.svg
Due: none

chore: nvm version
  .nvmrc
Due: none

feat: update the settings text
  app/controllers/onlyoffice_discourse/onlyoffice_controller.rb
  config/locales/server.en.yml
  config/settings.yml
  lib/onlyoffice_discourse/onlyoffice_conversion_service.rb
  lib/onlyoffice_discourse/onlyoffice_jwt.rb
  plugin.rb
Due: ruby-lint

feat: update modal action window
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
Due: js-lint, hbs-lint, prettier

feat: update modal permissions window
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.js
Due: js-lint, hbs-lint, prettier

fix: global css registration
  assets/stylesheets/onlyoffice.scss
  plugin.rb
Due: ruby-lint, css-lint, prettier

feat: open editor in modal window
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-editor-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-editor-modal.js
  assets/stylesheets/editor.scss
Due: js-lint, hbs-lint, css-lint, prettier

feat: update css
  assets/stylesheets/onlyoffice.scss
Due: css-lint, prettier

feat: update translate
  config/locales/client.en.yml
  config/locales/client.ru.yml
Due: none

feat: demo mode
  app/controllers/onlyoffice_discourse/onlyoffice_controller.rb
  app/jobs/scheduled/check_demo_expiration.rb
  assets/javascripts/discourse/components/modal/onlyoffice-editor-modal.js
  assets/javascripts/discourse/initializers/onlyoffice-demo-mode.js
  assets/javascripts/discourse/routes/onlyoffice-editor.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/settings.yml
  lib/onlyoffice_discourse/onlyoffice_demo.rb
  plugin.rb
Due: ruby-lint, js-lint, prettier

fix: lint error
  assets/javascripts/discourse/components/modal/onlyoffice-editor-modal.js
  assets/javascripts/discourse/initializers/onlyoffice-demo-mode.js
  assets/javascripts/discourse/routes/onlyoffice-editor.js
Due: js-lint, prettier

feat: icon color in actions modal
  assets/stylesheets/onlyoffice.scss
Due: css-lint, prettier

feat: selector border color
  assets/stylesheets/onlyoffice.scss
Due: css-lint, prettier

feat: toggle color
  assets/stylesheets/onlyoffice.scss
Due: css-lint, prettier

fix: permissions close button text
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.hbs
Due: hbs-lint, prettier

feat: uservoice
  assets/javascripts/discourse/connectors/admin-config-area-filtered-site-settings/onlyoffice-uservoice.gjs
  assets/stylesheets/onlyoffice.scss
  config/locales/client.en.yml
  config/locales/client.ru.yml
Due: css-lint, prettier

feat: update texts
  config/locales/client.en.yml
  config/locales/client.ru.yml
  config/locales/server.en.yml
  config/settings.yml
Due: none

Update README.md
  README.md
Due: none

actions (0c65370ad862cf7329817c3011414521bf2b0033)
  .github/workflows/discourse-plugin.yml
  .github/workflows/lint.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

release actions
  .github/workflows/create-tag.yml
  .github/workflows/release.yml
Due: none

fix triggers
  .github/workflows/discourse-plugin.yml
  .github/workflows/lint.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

format readme
  README.md
Due: none

chore: removed obsolete actions
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

chore: update npm scripts
  .tool-versions
  package.json
Due: none

chore: remove yarn.lock
  yarn.lock
Due: none

fix: lint errors
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-editor-modal.js
  assets/javascripts/discourse/initializers/onlyoffice-demo-mode.js
  assets/stylesheets/onlyoffice.scss
Due: js-lint, css-lint, prettier

fix: formatting
  .github/workflows/lint.yml
Due: none

chore: fix licenses action
  .github/workflows/licenses.yml
Due: none

chore: add ruby lint npm scripts
  package.json
Due: none

chore: fix lint errors
  app/controllers/onlyoffice_discourse/onlyoffice_controller.rb
  app/models/onlyoffice_discourse/onlyoffice_permission.rb
  db/migrate/20250119160800_create_onlyoffice_permissions.rb
  lib/onlyoffice_discourse/onlyoffice_controller_extensions.rb
  lib/onlyoffice_discourse/onlyoffice_conversion_service.rb
  lib/onlyoffice_discourse/onlyoffice_demo.rb
  lib/onlyoffice_discourse/onlyoffice_jwt.rb
  plugin.rb
Due: ruby-lint

feat: trust level access and default permissions
  app/models/onlyoffice_discourse/onlyoffice_document_setting.rb
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.js
  assets/javascripts/discourse/initializers/onlyoffice-attachment-handler.js
  config/locales/client.en.yml
  config/locales/client.ru.yml
  config/locales/server.en.yml
  config/locales/server.ru.yml
  config/settings.yml
  db/migrate/20250303000000_create_onlyoffice_document_settings.rb
  db/post_migrate/20250316000000_remove_default_can_view_from_document_settings.rb
  lib/onlyoffice_discourse/onlyoffice_controller_extensions.rb
  plugin.rb
Due: ruby-lint, js-lint, hbs-lint, prettier

feat: anonymous users permissions and offline view mode
  app/controllers/onlyoffice_discourse/onlyoffice_controller.rb
Due: ruby-lint

feat: update texts
  config/locales/client.en.yml
  config/locales/client.ru.yml
Due: none

feat: back button
  assets/javascripts/discourse/components/modal/onlyoffice-actions-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-convert-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-convert-modal.js
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.hbs
  assets/javascripts/discourse/components/modal/onlyoffice-permissions-modal.js
  config/locales/client.en.yml
  config/locales/client.ru.yml
Due: js-lint, hbs-lint, prettier
